name: stateman
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.11.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: 

flutter:
  uses-material-design: true
  
  assets:
    - assets/icon/app_icon1.png

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/app_icon1.png"